Orc.SuperchargedReact.Core/obj/
packages/
Orc.SuperchargedReact.Web/obj/

Orc.SuperchargedReact.Core/bin/
Orc.SuperchargedReact.Runner/bin/
Orc.SuperchargedReact.Runner/obj/
Orc.SuperchargedReact.Web/bin/
